.TodoItem-list {
  padding: 20px 0px;
  position: relative;

  .TodoItem-time {
    position: absolute;
    right: 0px;
    color: gray;
    font-size: 14px;
    bottom: 21px;
  }

  .TodoItem-task {
    margin: 0px 30px;
    color: gray;
    font-size: 16px;
  }

  .TodoItem-task-selected {
    text-decoration: line-through;
    text-decoration-color: lightgray;
    color: lightgray;
  }

  .TodoItem-deleteIcon {
    width: 19px;
    position: absolute;
    right: 13px;
    bottom: 21px;
    cursor: pointer;
  }

  .TodoItem-checkBox {
    cursor: pointer;
  }
  .TodoItem-editInput {
    margin: 0px 30px;
    color: gray;
    border: none;
  }
}
